---
import Layout from '../layouts/BlogPost.astro';
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
---

<Layout
	title="About Me"
	description="About Me"
>
	<p>
		Hi, I'm Katie. I am a software engineer with over 5 years of experience. I currently work for <a href="https://www.cniguard.com/">CNIguard</a>.
	</p>
	<p>
		In my free time, I recently completed a master's degree in High Performance Computing with Data Science at The University of Edinburgh.
	</p>
	<h2>
		Experience
	</h2>
	<div class="small_space">
		<div class="box">
			<p><b>CNIguard</b></p>
			<p class="right"><b>Dec 2025 - Present</b></p>
		</div>
		<p>
			Full stack development in Django and React on a SaaS platform. Providing real-time insights and alerts for underground environments.
		</p>
	</div>
	</br>
	<div class="small_space">
		<div class="box">
			<p><b>Linaro Ltd</b></p>
			<p class="right"><b>Jan 2023 - Nov 2025</b></p>
		</div>
		<p>
			Developing tooling in Python and Django to support <a href="https://lkft.linaro.org/">my team's mission of Linux kernel functional testing</a>.
		</p>
	</div>
	</br>
	<div class="small_space">
		<div class="box">
			<p><b>Arm Ltd</b></p>
			<p class="right"><b>Sept 2019 - Jan 2023</b></p>
		</div>
		<p>Writing software in C and Python to test Arm's Cortex-M CPU designs. Running testing and performing debugging of test failures.</p>
	</div>
	</br>
	<h2>Education</h2>
	<div class="small_space">
		<div class="box">
			<p><b>High Performance Computing with Data Science, MSc</b></p>
			<p class="right"><b>Sept 2020 - Oct 2025</b></p>
		</div>
		<p>
			<i>The University of Edinburgh, UK</i>
		</p>
	</div>
	</br>
	<div class="small_space">
		<div class="box">
			<p><b>Artificial Intelligence and Computer Science, BSc</b></p>
			<p class="right"><b>Sept 2015 - July 2019</b></p>
		</div>
		<p>
			<i>The University of Edinburgh, UK</i>
		</p>
	</div>
</Layout>
