---
import Layout from '../layouts/BlogPost.astro';
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
---

<Layout
	title="About Me"
	description="About Me"
>
	<p>
		Hi, I'm Katie. I am a software engineer with over 5 years of experience. I currently work for <a href="https://www.linaro.org/">Linaro</a> as a software engineer.
	</p>
	<p>
		In my free time, I am undertaking a master's degree in High Performance Computing with Data Science at The University of Edinburgh.
	</p>
	<h2>
		Experience
	</h2>
	<div class="small_space">
		<b>Linaro Ltd</b> <span style="float:right"><b>Jan 2023 - Present</b></span>
		<p>
			Developing tooling in Python and Django to support the team's mission of Linux kernel validation.
		</p>
		<b>Arm Ltd</b> <span style="float:right"><b>Sept 2019 - Jan 2023</b></span>
		<p>Writing software in C and Python to test Arm's Cortex-M CPU designs. Running testing and performing debugging of test failures.</p>
	</div>
	</br>
	<h2>Education</h2>
	<div class="small_space">
		<p>
			<b>High Performance Computing with Data Science, MSc</b> <span style="float:right"><b>Sept 2020 - Present</b></span>
		</p>
		<p>
			<i>The University of Edinburgh, UK</i>
		</p>
	</div>
	<div class="small_space">
		<p>
			<b>Artificial Intelligence and Computer Science, BSc</b> <span style="float:right"><b>Sept 2015 - July 2019</b></span>
		</p>
		<p>
			<i>The University of Edinburgh, UK</i>
		</p>
	</div>
</Layout>
