---
import Layout from '../layouts/BlogPost.astro';
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
---

<Layout
	title="About Me"
	description="About Me"
	pubDate={new Date('June 23 2025')}
	heroImage={AboutHeroImage}
>
	<p>
		Hi, I'm Katie. I am a software engineer with over 5 years of experience. I work for <a href="https://www.linaro.org/">Linaro</a>.
	</p>
</Layout>
