---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hi, I am Katie!</h1>
			<p>
				I am an Edinburgh-based software engineer working for <a href="https://www.linaro.org/">Linaro</a>.
			</p>
			<p>
				<a href="/about">Find out more about me</a>.
			</p>
			<p>
				 <a href="/projects">Find out more about my projects</a>.
			</p>
			<p>
				<a href="/blog">Find out more about my thoughts and adventures</a>.
			</p>
		</main>
		<Footer />
	</body>
</html>
