---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hi, I am Katie!</h1>
			<p>
				I am a software engineer working for <a href="https://www.linaro.org/">Linaro</a>
			</p>

			<i>This site is currently 🚧 under construction! 🚧</i>
		</main>
		<Footer />
	</body>
</html>
